.cardnew {
    position: relative;
    min-width: 150px;
    height: 200px;
    width: 150px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #030b17;
    margin-bottom: 16px;
    margin-right: 16px;
    transition: 0.5s;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .cardnew:hover {
    transform: scale(1.1);
} */

.cardnew:hover .card-body {
    opacity: 1;
}

.card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.namei {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
    display: inline-block;
    overflow: hidden;
    /* make sure it hides the content that overflows */
    white-space: nowrap;
    /* don't break the line */
    text-overflow: ellipsis;
    width: 100%;
}

.dess {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
    font-size: 12.5px;
    line-height: 18px;
    width: 100%;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rating {
    color: #fff;
    opacity: 0.8;
    font-weight: 500;
    font-size: 12px;
}

.watchlist-btn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    text-transform: capitalize;
    background: none;
    border: none;
    font-size: 14px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
    
}
.playicon {
    
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    padding: 2px 0px;
}
.playtex {
    
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
    display: flex;
    align-items: center;
    position: relative;
}

.watchlist-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    height: 35px;
    width: 35px;
    background-size: cover;
    transform: scale(0.4);

}

.watchlist-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}