/* CustomCursor.css */
.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    backdrop-filter: blur(16px) saturate(178%);
    -webkit-backdrop-filter: blur(16px) saturate(178%);
    background-color: rgba(204, 205, 209, 0.543);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 1000;
  }
  